/*
* @Archivo estilo.css
* @Autor boca_97
* @Version 1.0
* @Ultima modificacion 22/07/2015
* @WebSite www.taringa.net/boca_97
*/
/*Configuracion princpal de la pagina*/
body{
    margin: 0 auto;
    padding: 0;
    font-family: 'helvetica','sans-serif','arial';
    background: #fff;
}
.clearfix{
	clear: both;
}
header{
	padding:0;
	width: 100%;
	background: #003564;
}
.contenedor_lgo{
	width: auto;
	color: #fff;
	font-weight: bold;
	font-size: 3em;
	letter-spacing: -6px;
	margin: 0 auto;
	text-align:center;
}
#menu{
  height:40px;
  width:100%;
  background: #2a72b1;
  font-weight:bold;
  border-bottom: 7px solid #003564;
}

#menu ul{
  padding:0;
  height:40px;
  width:400px;
}

#menu li{
  display:inline;
  float:left;
}
#menu a{
  color: #fff;
  display: inline-block;
  width:100px;
  text-align:center;
  text-decoration:none;
  line-height: 40px;
}

#menu li:last-child a {
  border-right: 0;
}

#menu a:hover, #menu a:active {
  background: #003564;
}

#menu a#menu_movil {
  display: none;
}
.contenedor_menu {
  width: 960px;
  margin: 0 auto;
}
/*MEDIAS QUERIES*/
@media screen and (max-width: 767px) {
  	#menu ul {
  		width: 100%;
  		height: auto;
  	}
  	#menu li {
		width: 50%;
		position: relative;
		padding: 0;
		margin:0;
  	}
  	#menu li a {
		background: #2a72b1;
	}
  	#menu a {
	  	text-align: left;
	  	width: 100%;
	  	text-indent: 25px;
  	}
}
@media only screen and (max-width : 480px) {
	.contenedor_menu{
		width: 70%;
	}
	#menu{
		border-bottom: 0;
	}
	#menu ul{
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		transition: 0.35s;
		background: rgba(0, 0, 0, 0.8);
		opacity: 0;
		pointer-events: none;
		z-index: 2;
	}
	#menu a#menu_movil{
		display: block;
		background: #2a72b1;
		width: 100%;
		position: relative;
	}
	#menu a#menu_movil:after {
		content:"";
		background: url('../img/abrir_menu.png') no-repeat;
		width: 30px;
		height: 40px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 0px;
	}
	#menu ul:target {
		opacity: 1;
		pointer-events: auto;
	}
}
